@model _191_MOMENT_2.Models.ProductModel

@{
    //Layout = "_IndexLayout" //specific layout
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Migyston Intranet Inventory Service!</h1>
    <p>
        INFORMATION:
        <br />
        Navigate above to add and edit products
    </p>
</div>

<p>
    Test of passing parameter: @Model.product_title
</p>


<p>
    By visiting this page, a session is started and a value set.
</p>

<style>
    .start {
        background-color: lightgray;
    }
</style>